<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link rel="stylesheet" href="../static/css/css.css">
    <title>Claim Review Results</title>
</head>
<body>
<div class="wrapper">
    <div id="title">
        <h1>AI Claim Review</h1>
    </div>

    <div id="login">
            <h2 id="login_title">Please Login</h2>

        <form id="login_form" action="/process" method="POST" enctype="multipart/form-data">
            <div class="login_container">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" required>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button id="loginbutton" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>