<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  <link rel="stylesheet" href="../static/css/css.css">
  <title>Claim Review Results</title>
</head>
<body>
<div class="wrapper">
  <div id="title">
    <h1>AI Claim Review</h1>
  </div>

  <p>Login failed</p>
  <form action="/" method="GET" enctype="multipart/form-data">
    <button type="submit">Login</button>
  </form>
</div>

</body>
</html>